@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import "tailwindcss";



@theme {
    --font-sans: 'Turret Road', sans-serif;
    --color-R:#FF2DD1 ; 
    --color-B:#63C8FF ;
    --color-Y:#FDFFB8;
    --color-G:#4DFFBE ;
    --color-dim: var(--color-gray-500);
}

@layer base {
    
    body {
        font-family: var(--font-sans);
        color: var(--color-G);
        font-weight: 600;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    .num_box{
        @apply size-[4rem] text-[3rem] text-center;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
}

@utility shake {
    animation: shake 0.4s ease;
}